@let form = $form(); @let isLoading = $isLoading();

<div class="login-card">
  <div class="login-header">
    <img ngSrc="assets/icons/logo.svg" alt="logo" title="logo" width="64" height="64" />
    <span class="login-title tui-text_h4">Добро пожаловать в Тейка</span>
    <span class="login-subtitle tui-text_h4">Начните сегодня</span>
  </div>

  <tui-loader [overlay]="true" [showLoader]="isLoading">
    <app-login-form [form]="form" />
  </tui-loader>

  <button
    type="button"
    tuiButton
    size="m"
    [disabled]="form.invalid || isLoading"
    [showLoader]="isLoading"
    (click)="onLogin()"
  >
    Войти
  </button>
</div>
